body {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: black;
  font-family: "Arial", Arial, sans-serif;
  overflow: hidden;
}

.product-images {
  position: absolute;
  top: 0;
  left: 0;
}

.product-images img {
  width: 200px;
}

#stop-button {
  position: relative;
  top: 2rem;
  left: 4rem;
  width: 200px;
  z-index: 999;
}

@media only screen and (min-width: 320px) and (max-width: 690px) {
  #stop-button {
    left: 6rem;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#bags-canvas {
  position:absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: transparent;
}

#figure-canvas {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}